@font-face {
  font-family: 'iconfont';  /* project id 831435 */
  src: url('//at.alicdn.com/t/font_831435_gehbzjby03n.eot');
  src: url('//at.alicdn.com/t/font_831435_gehbzjby03n.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_831435_gehbzjby03n.woff') format('woff'),
  url('//at.alicdn.com/t/font_831435_gehbzjby03n.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_831435_gehbzjby03n.svg#iconfont') format('svg');
}
